body {
    background-color: #1b1b1b;
    color: #fff;
    font-family: WorkSans;
}

/* Nav Bar */

.bknnavbar {
    background-color: #2b2b2b;
    height: 70px;
    padding: 10px;
}

.tc-navIconLink {
    margin-left: 10px;
    display: inline-block;
}

.navtitle {
    display: inline-block;
}

.bknnavlink {
    display: inline-block;
}

.pagetitle {
    text-align: center;
    font-family: 'Crimson Text', serif;
    letter-spacing: 1px;
}

/* Main Navbar */

.tc-mainNav {
    text-align: center;
    margin-top: 100px;
}

.tc-mainNavImage {
    margin-right: 180px;
}

.tc-mainNavLinks {
    margin-left: 40px;
    display: inline-block;
}

.tc-mainNavGetAppButton {
    margin-left: 80px;
}

.tc-yellowBtn {
    background-color: #FFD166;
    border-color: #FFD166;
    color: #1b1b1b;
    font-weight: 600;
}

.tc-blueBtn {
    background-color: #7FC8F8;
    border-color: #7FC8F8;
    color: #1b1b1b;
    font-weight: 600;
}

/* Item page */

.tc-itemNav {
    padding: 40px 13% 0 10%;
}

.tc-pageName {
    display: inline-block;
    font-family: 'Crimson Text', serif;
    letter-spacing: 1px;
}

.tc-searchBar {
    display: inline-block;
}

.tc-itemNavIcon {
    height: 80px;
    width: 80px;
    border-radius: 15px;
    background-color: #2b2b2b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
}

/* Value Cards */

.valuecard {
    background-color: #2b2b2b;
    height: 290px;
    width: 200px;
    border-radius: 15px;
    text-align: center;
    padding: 10px;
}

.valuetitle {
    font-family: 'Crimson Text', serif;
    letter-spacing: 1px;
}

.valuecardimage {
    margin: 0 0 10px 0;
}